.box{
    height: 70%;
    width: 90%;
    border: 8px solid white;
    margin: auto auto;
    text-align: center;
}

.box2{
    height: fit-content;
    overflow-y: auto;
}

.main{
    height: 400px;
    width: 100%;
    margin: auto auto;

}



table {
    margin: auto auto;
    border-collapse: collapse;
    width: 80%;
    border: 6px solid rgb(190, 247, 168);
    color: white;
    font-size: large;
  }


  th{
      font-size: larger;
      font-weight: bold;
      color: aqua;
      
  }
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color: rgb(161, 161, 161);}

