<div class="box">
    <div class="box2">
        <p></p>
        <table>
            <tr>
              <th>Month</th>
              <th>Saving</th>
              <th>Spent</th>
            </tr>
            <tr *ngFor = "let item of this.SavingData">
                <td>{{this.MonthName(item.date.slice(5, 7))}} {{item.date.slice(0, 4) + " "}}</td>
                <td>{{item.moneyLeft}}</td>
                <td>{{item.spentAmount}}</td>
            </tr>
            <tr>
                <th>Total</th>
                <th>{{this.totalSaving}}</th>
                <th>{{totalSpent}}</th>
              </tr>
            </table>
            
    </div>
    <p></p>

            <div class="main" id = "main"></div>





</div>
