

<table border = "1px solid black">
    <tr>
        <h3>{{this.apiservice.currentSorting}}</h3>
    </tr>
    <tr>
        <th>
            Name
        </th>
        <th>
            DOB
        </th>

    </tr>
    <tr *ngFor = "let item of this.apiservice.sortedData">
        <td>{{item.name}}</td>
        <td>{{item.dob}}</td>

    </tr>

</table>