<h1>Currency Converter</h1>
<p></p>

<input type = "text" [(ngModel)] = "inpCurr" (keyup) = "giveChange()"/>

<select [(ngModel)] = "inputCurr" (change) = "giveChange()">
    <option value="inr">INR</option>
    <option value="usd">USD</option>
    <option value="euro">EURO</option>
    <option value="dinar">DINAR</option>
    <option value="cd">CD</option>
</select>

<p></p>

<input type = "text" [(ngModel)] = "outCurr" disabled/>

<select [(ngModel)] = "outputCurr" (change) = "giveChange()">
    <option value="inr">INR</option>
    <option value="usd">USD</option>
    <option value="euro">EURO</option>
    <option value="dinar">DINAR</option>
    <option value="cd">CD</option>
</select>


<p></p>
