<app-show-data></app-show-data>
<p></p>
<p></p>

<button (click) = "this.apiservice.changeByName()">Sort By Name</button>&nbsp;
<button (click) = "this.apiservice.changeByAge()">Sort By Age</button>&nbsp;

<app-random-component (emitEvent) = "parentCall($event)">

</app-random-component>
<p></p>
<p></p>

<app-display></app-display>