.box{
    height: 70%;
    width: 90%;
    border: 8px solid white;
    margin: auto auto;
    text-align: center;
}

.main{
  height: 400px;
  width: 100%;
  margin: auto auto;

}


.box2{
    height: 30rem;
    overflow-y: auto;
}

.addExpense{

        width: 60%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid red;
        font-size: large;
}

.addSpent{

    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    font-size: large;
  
}

table {
    margin: auto auto;
    border-collapse: collapse;
    width: 80%;
    border: 6px solid rgb(190, 247, 168);
    color: white;
    font-size: large;
  }


  th{
      font-size: larger;
      font-weight: bold;
      color: aqua;
      
  }
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color: rgb(161, 161, 161);}


.amount {
    width: 40%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 4px solid white;
    background-color: #fa7c7c;
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: 500;
  }


  .button {

    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
 
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  .tag {

    display: inline-block;
    border-radius: 4px;
    background-color: #95c0f8;
    border: none;
    color: #5f5a5a;
    text-align: center;
    font-size: 20px;
    padding: 5px;
 
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
  }
  
  .tag span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .tag span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .tag:hover span {
    padding-right: 25px;
  }
  
  .tag:hover span:after {
    opacity: 1;
    right: 0;
  }

  .input1 {
    margin: 50px;
    padding: 1%;
    font-size: large;
  }

  label{
    font-size: larger;
    font-weight: bold;
    color: aqua;
  }
