
<div class="box">
    <div>
        <label for="date1">From:</label>
        <input class = "input1" type="date" name="date1" [(ngModel)]="forDate1" >
        <label for="date2">To:</label>
        <input class = "input1" type="date" name="date2" [(ngModel)]="forDate2">

        <button class="button" (click) = "getExpense()"><span>get expences</span></button>
    </div>
    <div class="box2">
  <table>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Note</th>
      <th>Spent</th>
  
    </tr>
  
    <tr *ngFor = "let item of this.expenseThisMonth">
        <td>{{item.exdate.slice(0, 10)}}</td>
      <td>{{item.expence.slice(0, 8)}}</td>
      <td>{{item.expence.slice(8)}}</td>
      <td>{{item.spent}}</td>
    </tr>

    <tr>
        
     <th></th>
     <th></th>

     <th>Total</th>
     <th>{{totalExpense}}</th>

        
  
      </tr>

  
  </table>
  
  </div>
  <p></p>
  <br>
  <hr>


  <div class="main" id = "main"></div>
  </div>
  
    
    <br/>
    <br/>
    <br/>
  