.wrapper {

    text-align: center;
    color: white;
}
.wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom:1;
 
}
.wrapper li {
    float: left;
    padding: 5px 10px;
    margin: 15px;
    border: 4px solid rgb(255, 240, 240) ;
}

h1{
    font-size: xx-large;
}


ul {
    list-style-type: none;
    margin: 0%;
    padding: 0;
    overflow: hidden;
    text-align: center;
  
  }
  
  li {
    float: left;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }