
<div class="box">
  
  <p></p>
  <input class="amount" type="text" id="current_money" name="current_money" value={{saving}} [(ngModel)] = "saving">
  <button class="button" (click) = "updateSalary()"><span>Update </span></button>

  <p></p>
  <div class="box2">
<table>
  <tr>
    <th>Time</th>
    <th>Note</th>
    <th>Spent</th>

  </tr>

  <tr *ngFor = "let item of this.expenseData">
    <td>{{item.expence.slice(0, 8)}}</td>
    <td>{{item.expence.slice(8)}}</td>
    <td>{{item.spent}}</td>
  </tr>
  <tr>
      <th>Total this month</th>
   <th></th>
      <th>{{this.totalSpent}}</th>

    </tr>

</table>

</div>
<p></p>
<input  placeholder = "Expense"class="addExpense" type="text" id="Expense" value={{expenses}} [(ngModel)] = "expenses"/>&nbsp;
<input [(ngModel)] = "spentAmount" placeholder = "Amount" class="addSpent" type="text" id="spent" value = {{spentAmount}}>

<p></p>
<button class="button" (click) = "addExpense()"><span>Add </span></button>
<p>
</p>

<button *ngFor = "let tag of this.allTags" class="tag" (click)= "addTag(tag)" ><span>{{tag}} </span></button>


</div>

  
  <br/>
  <br/>
  <br/>
