<table border = "1px solid black">
    <tr>
        <th>
            userid
        </th>
        <th>
            id
        </th>
        <th>
            title
        </th>
        <th>
            body
        </th>
    </tr>
    <tr *ngFor = "let item of apiservice.apiData">
        <td>{{item.userId}}</td>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>

    </tr>

</table>